---
import en from "@/i18n/en";
import cz from "@/i18n/cz";
import LanguageSwitch from "@/components/LanguageSwitch.astro";

const { lang = "en" } = Astro.props;
const t = lang === "cz" ? cz : en;
---



<div class="flex items-center gap-8">
    <nav class="space-x-6 text-sm text-slate-300">
        <a
                href={t.routes.home}
                class="relative hover:text-blue-400 transition-colors duration-200
         after:absolute after:left-0 after:-bottom-1 after:h-px after:w-0
         after:bg-blue-400 after:transition-all after:duration-300
         hover:after:w-full">            {t.nav.home}
        </a>
        <a href={t.routes.about} class="hover:text-blue-400">
            {t.nav.about}
        </a>
        <a href={t.routes.projects} class="hover:text-blue-400">
            {t.nav.projects}
        </a>
        <a href={t.routes.contact} class="hover:text-blue-400">
            {t.nav.contact}
        </a>
    </nav>

    <LanguageSwitch lang={lang} />
</div>
